@charset "UTF-8"; 

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #f1af32,#F2CDAC);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #062c4dd5 ;
    width: 600px;
    padding: 10px;
    margin:auto;
}

h1 {
    color: #A64E1B;
    text-align: center;
    text-shadow: 1px 1 px 2px rgb(37, 36, 36);
}

h2 {
    color: #1F74BF;

}

p {
    text-align: justify;
}